// Fonts
$NotoSans: "Noto Sans KR", sans-serif;
$Raleway: "Raleway", sans-serif;

// Color
$White: #DADADB;
$Black: #010204;
$Grey: #252627;
$Red: #FD2F4A;

// Smartphone
@mixin m {
    @media (max-width: 1024px) {
        @content;
    }
}

// Codes
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    color: $White;
    font-family: $NotoSans;
    background-color: $Black;
}

main {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow: hidden;
    position: relative;
    grid-template: 75px 1fr / 1fr;
}

header {
    display: flex;
    padding: 0 2.5%;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: space-between;
    h1 {
        cursor: pointer;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 6px;
        font-family: $Raleway;
        text-transform: uppercase;
    }
    i {
        cursor: pointer;
        font-size: 18px;
    }
    @include m {
        padding: 0 5%;
        h1 {
            font-size: 16px;
            letter-spacing: 4px;
        }
        i {
            font-size: 16px;
        }
    }
}

section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#menu {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .menu-elem {
        cursor: pointer;
        padding: 10px 0;
        font-size: 32px;
        font-weight: 200;
        letter-spacing: 5px;
        font-family: $Raleway;
        text-transform: uppercase;
        &:hover {
            color: $Red;
        }
    }
}

#list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    li {
        width: 95%;
        height: 75px;
        display: flex;
        cursor: pointer;
        position: relative;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 7.5px;
        font-family: $Raleway;
        justify-content: space-evenly;
        background-color: $Grey;
        h1 {
            font-size: 20px;
            font-weight: 500;
        }
        &:hover {
            background-color: $Red;
            h1 {
                color: $Black;
            }
        }
    }
}

#play {
    width: 100%;
    height: 100%;
    display: grid;
    position: relative;
    grid-template: 70% 1fr / 1fr;
    img {
        object-position: center center;
        object-fit: cover;
        cursor: pointer;
    }
    #ctrl {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            font-size: 24px;
        }
        input {
            width: 70%;
            height: 7.5px;
            margin: 0 24px;
            cursor: pointer;
        }
    }
}

// Google Font Links
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap");